**/*.tmp*
*.sublime*
._*
.DS_Store
.babelrc
.buildpath
.htaccess
.idea
.project
.sass-cache/
.settings
.tmp
.vagrant
.~lock.*
/data/cache
/node_modules/
/vendor/bin
composer.lock
docs/
log.json
migrations-db.php
nbproject
tests/Test/build/
vendor/
yarn.lock
