nbproject
._*
.~lock.*
.buildpath
.DS_Store
.htaccess
.idea
.project
.settings
.tmp
composer.lock
composer.phar
/vendor/bin
log.json
vendor/
*.sublime*
/node_modules/
/data/DoctrineORMModule
/data/cache
**/*.tmp*
.vagrant
.sass-cache/
tests/Test/build/
public/iamaduck
