**/*.tmp*
*.sublime*
._*
.buildpath
.DS_Store
.htaccess
.idea
.project
.sass-cache/
.settings
.tmp
.vagrant
.~lock.*
/data/cache
/node_modules/
/vendor/bin
composer.lock
composer.phar
docs/
log.json
nbproject
tests/Test/build/
vendor/
