/**** Colors ****/

// Header
// Green
$sweet-green : #4d994f;
$sweet-green-dark : $sweet-green - #111;
$sweet-green-dark-more : $sweet-green - #222;
$sweet-green-light : $sweet-green + #111;
$sweet-green-light-more : $sweet-green + #222;

// Blue
$blue : #1477d5;
$tf-blue : #4487fa;
$md-blue: #106CC8;
$md-teal: rgb(0, 150, 136);

// Disponibilité
$green-soft : #10c140;
$red-soft: #ff2f2f;

// Etat instruments
$color-state-0 : #000000;
$color-state-1 : #ff0000;
$color-state-2 : #ff8800;
$color-state-3 : #ffff00;
$color-state-4 : #0000ff;
$color-state-5 : #00ff00;

$color-archived : #aaa;

// Menu selected
$color-menu-active : #fff;
$color-menu-active-bottom-border: $tf-blue;

$dark-light: #222;
$grey-light: #eee;
