#splash-container {

	section {

		padding-top: 20px;

		h3 {
			margin-bottom: 50px;
		}

		&::before {
			content:'up';
			position: absolute;
			margin: 0 auto;
			top: -100px;
			background-color: rgba(0,0,0,.25);
			border-radius: 25px;
			color: white;
		}

		&#top {
			.parallax-wrapper {
				padding: 50px 0;

				.parallax {
					width: 100%;
					left: 0;
				}
			}
		}

		&#asso {
			padding-top: inherit;

			.desc {
				padding: 20px;
				position: relative;
				background-color: white;
				box-shadow: 0 10px 50px #888;
			}
		}

		&#stations {

			.map-wrapper {
				position: relative;

				ng-map {
					display: block;
					height: 70vh;
				}
			}
		}

		&#contact {

			form {
				margin-top: 20px;
			}
		}

	}


}
