.navbar {

	@include flexbox;

	background-color: white;
	padding-bottom: 0;

	.nav-pills {
		.nav-link {
			border-radius: 0;
			border-bottom: 5px solid white;

			&.active {
				color: black;
				background-color: white;
				border-bottom: 5px solid $color-menu-active-bottom-border;
			}

		}

    }

    &.navbar-fixed-top {

        & + * {
            margin-top: 75px;
        }
    }
}
