menu-admin {

    $bg-color: $md-blue;

    background-color: $bg-color;

    .md-sidemenu {
        .md-subheader {
            background-color: $bg-color;
            height: inherit;
        }

        .md-button {
            background-color: $bg-color;
        }

    }


    @include respond-to(tiny-to-very-large) {
        height: 100vh;
        // background-color: $dark-light;
        color: white;
    }

}
