<div id="admin" layout="column" layout-fill flex>

    <toolbar-admin></toolbar-admin>
    <md-content layout="row" layout-fill flex>
        <md-sidenav layout="column" layout-padding class="md-primary md-sidenav-left"
            md-component-id="left"
            md-is-open="$adminController.isSideNavOpen"
            md-disable-backdrop md-whiteframe="4">
            <menu-admin layout="row" layout-fill></menu-admin>
        </md-sidenav>
        <md-content flex layout="column" layout-fill role="main" class="admin">
            <div ui-view="admin" layout="column"></div>
        </md-content>
    </md-content>

</div>
