<div layout="column" layout-fill>

    <toolbar-admin></toolbar-admin>

    <md-content layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-xs')"
            md-disable-backdrop md-whiteframe="4">
            <menu-admin layout="row" layout-fill></menu-admin>
        </md-sidenav>
        <md-content layout="column" layout-fill role="main" class="admin">
            <div ui-view="admin" layout="column"></div>
        </md-content>
    </md-content>

</div>
