<div class="container-fluid">

    <div id="splash-container" layout="column">

        <div ui-view="top"></div>

        <div ui-view="association"></div>

        <div ui-view="stations"></div>

        <div ui-view="contact"></div>

        <!-- <ng-include src="'public/partial/splash/actualites'"></ng-include> -->

        <!-- <ng-include src="'public/partial/splash/instrumenteque'"></ng-include> -->

        <!-- <ng-include src="'public/partial/splash/participation'"></ng-include> -->

    </div>

</div>

