<md-content>
    <md-toolbar class="md-table-toolbar md-default" ng-show="!$instrumentsListCtrl.filter.show && !$instrumentsListCtrl.selected.length">
        <div class="md-toolbar-tools">
            <h2>Instruments</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$instrumentsListCtrl.filter.show=!$instrumentsListCtrl.filter.show" aria-label="Filter">
                <md-icon class="material-icons">filter_list</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="$instrumentsListCtrl.getItems()">
                <md-icon>refresh</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="$instrumentsListCtrl.create()">
                <md-icon>add_more</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar md-default" ng-show="$instrumentsListCtrl.filter.show && !$instrumentsListCtrl.selected.length">
        <div class="md-toolbar-tools">
            <md-icon class="material-icons">search</md-icon>
            <form flex="" name="filter.form">
                <input type="text" ng-model="$instrumentsListCtrl.query.filter" ng-model-options="$instrumentsListCtrl.filter.options" placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="$instrumentsListCtrl.removeFilter()" aria-label="close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
     <md-toolbar class="md-table-toolbar md-hue-1 alternate" ng-show="$instrumentsListCtrl.selected.length">
        <div class="md-toolbar-tools">
            <span>{{$instrumentsListCtrl.selected.length}} {{$instrumentsListCtrl.selected.length > 1 ? 'élément' : 'éléments'}} sélectionnés</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$instrumentsListCtrl.delete()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
</md-content>

<md-card>
    <md-table-container>
         <table md-table md-row-select multiple ng-model="$instrumentsListCtrl.selected" md-progress="$instrumentsListCtrl.promise">
            <thead md-head>
                <tr md-row>
                    <th md-column>Modele</th>
                    <th md-column>Marque</th>
                    <th md-column>Dispo</th>
                    <th md-column>À vérifier</th>
                    <th md-column>État</th>
                    <th md-column flex="none"></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="instrument" md-select-id="name" ng-repeat="instrument in $instrumentsListCtrl.items" ng-click="$instrumentsListCtrl.viewInstrument(instrument)">
                    <td md-cell>{{instrument.model}}</td>
                    <td md-cell>{{instrument.marque.nom}}</td>
                    <td md-cell>
                        <md-checkbox readonly aria-label="Est dispo" ng-checked="instrument.isAvailable"></md-checkbox>
                    </td>
                    <td md-cell>
                        <md-checkbox aria-label="À vérifier" ng-model="instrument.hasToBeChecked" ng-checked="instrument.hasToBeChecked"></md-checkbox>
                    </td>
                    <td md-cell>{{instrument.condition}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="$instrumentsListCtrl.query.limit" md-limit-options="$instrumentsListCtrl.limitOptions" md-page="$instrumentsListCtrl.query.page" md-total="{{$instrumentsListCtrl.count}}" md-on-paginate="$instrumentsListCtrl.getItems" md-page-select></md-table-pagination>
</md-card>
