<md-sidemenu>

    <md-sidemenu-group>
        <md-subheader class="md-no-sticky">
            <a ng-href="/">
                <img class="filter-invert" ng-src="{{$menuAdminController.PATHS.IMG}}logo/short_big.png" height="100">
            </a>
        </md-subheader>

        <md-sidemenu-button ui-sref="admin.dashboard">Dashboard</md-sidemenu-button>
        <md-sidemenu-button ui-sref="admin.instruments" md-icon="music_note">Instruments</md-sidemenu-button>
        <md-sidemenu-button ui-sref="admin.users">Membres</md-sidemenu-button>

<!--         <md-sidemenu-content md-icon="home" md-heading="Menu 1" md-arrow="true">
            <md-sidemenu-button ui-sref="admin.dashboard">Dashboard</md-sidemenu-button>
            <md-sidemenu-button ui-sref="admin.instruments">Instruments</md-sidemenu-button>
            <md-sidemenu-button ui-sref="admin.membres">Membres</md-sidemenu-button>
        </md-sidemenu-content>
 -->    </md-sidemenu-group>

</md-sidemenu>
