<md-sidemenu class="md-primary">

    <md-sidemenu-group>

<!--         <md-subheader class="md-no-sticky">
            <a ng-href="/">
                <img class="filter-invert" ng-src="{{$menuAdminController.PATHS.IMG}}logo/short_big.png" height="100">
            </a>
        </md-subheader>
 -->
        <md-sidemenu-button ui-sref="admin.dashboard">
            <md-icon>dashboard</md-icon>
            Dashboard
        </md-sidemenu-button>
        <md-sidemenu-button ui-sref="admin.instruments">
            <md-icon>music_note</md-icon>
            Instruments
        </md-sidemenu-button>
        <md-sidemenu-button ui-sref="admin.users">
            <md-icon>people</md-icon>
            Utilisateurs
        </md-sidemenu-button>
        <md-sidemenu-button ui-sref="admin.prets">
            <md-icon>swap_horiz</md-icon>
            Prêts
        </md-sidemenu-button>
        <md-sidemenu-button ui-sref="admin.stations">
            <md-icon>location_on</md-icon>
            Stations
        </md-sidemenu-button>

    </md-sidemenu-group>

</md-sidemenu>

