<md-nav-bar
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="public.splash.child({'#': 'association'})" name="association">L'Association</md-nav-item>
    <!-- <md-nav-item md-nav-sref="public.splash.child({'#': 'instrumentheque'})" name="instrumentheque">L'Instrumenthèque</md-nav-item> -->
    <md-nav-item md-nav-sref="public.splash.child({'#': 'stations'})" name="stations">Stations musicales</md-nav-item>
    <md-nav-item md-nav-sref="public.splash.child({'#': 'contact'})" name="contact">Contact</md-nav-item>
    <md-nav-item md-nav-sref="login" ng-show="!$navMainCtrl.user" name="connexion">Se connecter</md-nav-item>
    <span flex></span>
    <md-menu ng-show="$navMainCtrl.user">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="$mdMenu.open()">
            <md-icon>menu</md-icon>
        </md-button>
        <md-menu-content width="4" ng-mouseleave="$mdCloseMenu()">
            <md-menu-item ng-if="$navMainCtrl.user.isAdmin">
                <md-button ui-sref="admin.dashboard">
                    <md-icon class="material-icons">build</md-icon>
                    Admin
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button logout-button>
                    <md-icon class="material-icons">power_settings_new</md-icon>
                    Déconnexion
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-nav-bar>
