<md-progress-linear ng-class="{'invisible': !$pretCtrl.isLoading}" md-mode="indeterminate"></md-progress-linear>

<md-toolbar class="md-table-toolbar md-default" flex="none">
    <md-content>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="$pretCtrl.previous()" aria-label="Previous page">
                <md-icon class="material-icons">navigate_before</md-icon>
            </md-button>
            <h2 flex>Prêt #{{$pretCtrl.item.id}}</h2>
            <md-button class="md-fab md-mini md-primary" ui-sref="admin.users.view({id: $pretCtrl.item.user.id})">
                <md-icon>person</md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary" ui-sref="admin.instruments.view({id: $pretCtrl.item.instrument.id})">
                <md-icon>music_note</md-icon>
            </md-button>
            <span>
                <md-button ng-if="$pretCtrl.item.dateDebutPrevue && !$pretCtrl.item.dateDebut" class="md-icon-button md-primary" ng-click="$pretCtrl.start()" aria-label="Démarrer le prêt">
                    <md-icon class="material-icons">play_arrow</md-icon>
                </md-button>
                <md-button ng-if="$pretCtrl.item.dateDebut && !$pretCtrl.item.dateFin" class="md-icon-button md-warn" ng-click="$pretCtrl.stop()" aria-label="Arrêter le prêt">
                    <md-icon class="material-icons">stop</md-icon>
                </md-button>
            </span>
        </div>
    </md-content>
</md-toolbar>

<md-content layout="column" flex ng-show="$pretCtrl.item">

    <md-card layout-padding>

<!--         <div layout="row">
            <md-button class="md-raised md-primary" ui-sref="admin.users.view({id: $pretCtrl.item.user.id})">Emprunteur</md-button>
            <md-button class="md-raised md-primary" ui-sref="admin.instruments.view({id: $pretCtrl.item.instrument.id})">Instrument</md-button>
        </div>
 -->
        <form name="pretForm" ng-submit="$userCtrl.onChange()">
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Date début Prévue</label>
                    <md-datepicker md-placeholder="Choisir une date" md-open-on-focus
                        ng-model="$pretCtrl.item.dateDebutPrevue"
                        ng-change="$pretCtrl.checkStartDate()"></md-datepicker>
                </md-input-container>
                <md-input-container ng-if="$pretCtrl.item.dateDebut" class="md-block">
                    <label>Date début</label>
                    <md-datepicker md-open-on-focus disabled
                        ng-model="$pretCtrl.item.dateDebut"></md-datepicker>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>Date Fin Prévue</label>
                    <md-datepicker md-placeholder="Choisir une date" md-open-on-focus
                        ng-model="$pretCtrl.item.dateFinPrevue"
                        ng-change="$pretCtrl.onChange()"></md-datepicker>
                </md-input-container>
                <md-input-container ng-if="$pretCtrl.item.dateFin" class="md-block">
                    <label>Date Fin</label>
                    <md-datepicker md-open-on-focus disabled
                        ng-model="$pretCtrl.item.dateFin"></md-datepicker>
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>Commentaire</label>
                <textarea name="comment" md-maxlength="250" rows="3" md-select-on-focus
                    ng-model="$pretCtrl.item.comment"
                    ng-model-options="{ updateOn: 'blur'}"
                    ng-change="$pretCtrl.onChange()"></textarea>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit" aria-label="Enregistrer">
                <md-icon class="material-icons">save</md-icon>
                ENREGISTRER
            </md-button>
        </form>

    </md-card>

</md-content>
