<md-content>
    <md-toolbar class="md-default" flex>
        <div class="md-toolbar-tools" show-xs hide-gt-xs>
            <md-button class="md-icon-button" aria-label="Menu" ng-click="$toolbarAdminController.toggleLeft()">
                <md-icon>menu</md-icon>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon>favorite</md-icon>
            </md-button>
        </div>

        <div class="md-toolbar-tools" hide-xs>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon>favorite</md-icon>
            </md-button>
            <md-menu>
                <!-- <md-button class="md-icon-button" aria-label="Menu" ng-click="$mdMenu.open()"> -->
                <md-button class="md-icon-button" aria-label="Menu" ng-click="$mdOpenMenu()">
                    <md-icon>menu</md-icon>
                </md-button>
                <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                    <md-menu-item>
                        <md-button>
                            <md-icon class="material-icons">power_settings_new</md-icon>
                            Déconnexion
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</md-content>
