@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600);
@import 'bootstrap/bootstrap.less';

/**** Colors ****/

// Header
@sweet-green : #4d994f;
@sweet-green-dark : @sweet-green - #111;
@sweet-green-dark-more : @sweet-green - #222;
@sweet-green-light : @sweet-green + #111;
@sweet-green-light-more : @sweet-green + #222;

@tf-blue : #4487fa;

.color-sweet-green { color: @sweet-green!important; }

// Disponibilité
@green-soft : #10c140;
@red-soft: #ff2f2f;

// Etat instruments
@color-state-0 : #000000;
@color-state-1 : #ff0000;
@color-state-2 : #ff8800;
@color-state-3 : #ffff00;
@color-state-4 : #0000ff;
@color-state-5 : #00ff00;

@color-archived : #aaa;

// Menu selected
@color-menu-active : #fff;

.bkg-danger { background-color: red!important; }

/** Global settings **/
body {
	background-color: #fff;
	font-family: "Open Sans", "Helvetica Neue";
}

ul {
	list-style-type: none;
	padding: 0;
}

input[type="date"]:before {
	content: attr(placeholder);
	color: #aaa;
}

input[type="date"]:focus:before, input[type="date"]:valid:before {
	content: "";
}


.state-gradient {
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff0000 0%, #ffff00 50%, #00ff00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(50%,#ffff00), color-stop(100%,#00ff00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ff0000 0%,#ffff00 50%,#00ff00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ff0000 0%,#ffff00 50%,#00ff00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ff0000 0%,#ffff00 50%,#00ff00 100%); /* IE10+ */
	background: linear-gradient(to right,  #ff0000 0%,#ffff00 50%,#00ff00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#00ff00',GradientType=1 ); /* IE6-9 */
}

@iterations: 5;
.border-state (@i) when (@i >= 0)
{
	.border-state-@{i} {
		& > td:last-child {
			position: relative;
			&::before {
				content: '';
				position:absolute;
				left: 100%;
				top: 0;
				margin-left: -3px;
				height: 100%;
				width: 3px;
				background-color: ~"@{color-state-@{i}}!important"; 
			}
		}
	}
	.border-state(@i - 1);
}
.border-state(@iterations);

/* font-size */
@terations: 500;
.fs (@i) when (@i >= 10) {
	// .fs-@{index} { font-size: @{index} px; }
	.fs-@{i} { font-size: ~"@{i}px!important"; }
	.fs (@i - 1);
}
.fs(@terations);

// .border-left-ok { td:first-child { border-left-color: @green-soft!important;} }
// .border-left-ko { td:first-child { border-left-color: @red-soft!important;} }

.border-left-ok {
	& > td:first-child {
		position: relative;
		&::before {
			content: '';
			position:absolute;
			left: 0%;
			top: 0;
			// margin-left: 5px;
			height: 100%;
			width: 3px;
			background-color: @green-soft!important; 
		}
	}
}

.border-left-ko {
	& > td:first-child {
		position: relative;
		&::before {
			content: '';
			position:absolute;
			left: 0;
			top: 0;
			// margin-left: 5px;
			height: 100%;
			width: 3px;
			background-color: @red-soft!important; 
		}
	}
}

.border-left-closed { border-left-color: @color-archived!important;}
.border-left-opened { .border-left-ok }
.border-left-delayed { .border-left-ko }
.bg-red-soft {	background-color: @red-soft!important;}
.bg-green-soft {	background-color: @green-soft!important;}

/**
 * Override bootstrap values
 */
.breadcrumb {background-color: inherit!important;}
.breadcrumb>li+li:before{content:"\203A\00a0"!important;}
.nav-sidebar { margin-bottom: 20px; }
.nav-sidebar ul{ overflow-x:hidden;}
.nav-sidebar span.glyphicon + span { margin-left: 5px; }
/*.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {color: #fff;background-color: #428bca;}*/
.nav-sidebar > .active {color: @tf-blue; font-weight: bold; border-left: 5px solid @tf-blue; }
.nav-sidebar > .active > a, .nav-sidebar > .active > a:focus {color: @tf-blue;}
// .nav-sidebar > .active > a::after { right: 0;border: solid 8px transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-right-color: #fff;top: 50%;margin-top: -8px;}
.nav-sidebar > :not(.active) { border-left: 5px solid rgba(0,0,0,0); }
.nav-sidebar > :not(.active) > a { color: #555;}
.nav-sidebar > :not(.active) > a:hover { color: #555;}
.nav-menu { background-color: white!important; }
// [role="navigation"] .dropdown-menu { min-width: inherit; border: none;}
// [role="navigation"] .dropdown-menu > li > a { padding: 10px 14px; font-size: 16px; background-color: black; color: white;}
// [role="navigation"] .navbar-nav > li > a { font-size: 14px; color: white;}
.nav-menu .navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}
.navbar-inverse { 
	border: none; 
}

/** Overwrite ng-table **/
.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
	background-color: #fafafa;
	font-weight: bold;
}

.rating-input span { font-size:18px!important;}
// table td[class*=col-], table th[class*=col-] { box-shadow: none;}
// .table-bordered{ border: none;}
// .table-bordered>thead>tr>th, .table-bordered>thead>tr>td { border:none; border-bottom:2px solid #ddd;}
// .table-bordered>tfoot>tr>th, .table-bordered>tbody>tr>td { border: none;}
.table > thead > tr > th {
	padding: 10px;
	background-color: #fafafa;
	color: #555;
	font-weight: normal;
}
.search-result-title {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

// .table tr.tr-dark > th, .table tr.tr-dark > td {background-color: #333!important;color: #FFF;}
// .table-hover tbody tr:hover > td { cursor: pointer}

body {

	a {
		color: #555;
	}

	#wrap {
		// .pdlr-20;
		.nopadding;
		min-height:100%;
		height: auto!important;
		height: 100%;
		margin: 0 auto;
		// margin-top: 100px;
		padding: 0px;
		// margin-top: 50px;
		box-sizing: border-box;
		// box-shadow: 0px 5px 5px #555 inset;
	}

	&[data-app="public"] {

		[role="navigation"] {

			background-color: @sweet-green; /* Old browsers */
			background: -moz-linear-gradient(top,  #4e994f 0%, #479949 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e994f), color-stop(100%,#479949)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #4e994f 0%,#479949 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #4e994f 0%,#479949 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #4e994f 0%,#479949 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #4e994f 0%,#479949 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e994f', endColorstr='#479949',GradientType=0 ); /* IE6-9 */
			// background:
			// radial-gradient(black 15%, transparent 16%) 0 0,
			// radial-gradient(black 15%, transparent 16%) 8px 8px,
			// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
			// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
			// background-size:16px 16px;

			.navbar-nav {

				li {

					a  {
						color: white;
					}

					button {
						border: none;
						margin-right: 15px;
						background-color: transparent;
						color: white;

						&:hover {
							background-color: @sweet-green-dark;
						}

					}

					&.active button{
						background-color: @sweet-green-dark-more;
					}
				}

			}

			.form-group {

				input {
					background-color: @sweet-green-dark-more!important;
					color: white;
					border: none;
					// &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {color: #eee!important;font-style: italic!important;}					
					&::-webkit-input-placeholder {color: #ccc!important;font-style: italic!important;}					
				}
			}

			.navbar-brand {
				color: white;
				font-weight: bold;
			}

		}

	}

	&[data-app="admin"] {

		background-color: white;

		#search {
			border-radius: 4px 0 0 4px;
		}

		#wrap {

			#content {

				&.admin {

					top: 100px;
					.nopadding;

					.table-list-bordered {
						table-layout:fixed;
						tbody > tr > td:first-child::before {
							border-left-width: 5px;
							border-left-color: transparent;
							border-left-style: solid;
						}
						tbody > tr > td:last-child::after {
							border-right-width: 5px;
							border-right-color: transparent;
							border-right-style: solid;
						}
					}

					#newinstrument {

						[name="nomcategorie"] { text-transform: capitalize};

						.path {
							margin-left: 5px;

							&:hover {
								.btn-danger;
								& ~ .path {
									.btn-danger;									
								}
							}
						}

					}

					.list-categories {
						padding: 20px;
						margin-top: -10px;
						&:not(:last-child) {
							border-bottom: 1px solid #ccc;
						}
						&:not(:first-of-type)::before {
							content: '';
							width: 0px;
							height: 0px;
							position: absolute;
							left: 50%;
							border: 10px solid transparent;
							border-top-color: #ccc;
							margin-top: -21px;
							// bottom: 100%;
						}

						li {
							margin-bottom: 10px;
						}
					}

				}

			}

		}

	}

}



#content {
	box-sizing: border-box;
	position: relative;

	[name="newaccount"] {

		input[type="text"] {
			text-transform: uppercase;
		}
	}
}

#banner {
	background-image: url('../img/home.jpg');
	background-position: center;
	background-size: 100%;
	padding: 10px 0;
	min-height: 400px;
	position: relative;
	/*overflow: hidden;*/
}

.banner-title h1{
	color: #efefef;
	font-weight: bold;
}

#banner .form-group {
	margin:0!important;
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-bottom: 20px!important;
}

#banner .form-group .twitter-typeahead {
	width: 100%;
}

#banner input { 
	font-size: 24px;
	line-height: 1.4em;
	width: 100%;
}

#banner .form-control {
	height: inherit;
}

#banner input::-webkit-input-placeholder {font-style: italic;}
#banner input::-moz-placeholder, /* firefox 19+ */
#banner input:-moz-placeholder,
#banner input:-ms-input-placeholder
{font-style: italic;}

#container-global {
	float: right;
}

#topbar {
	.nomargin;
	z-index: 50;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff;
}

#middlebar {
	margin-top: 50px!important;
	background-color: #fafafa;
	box-shadow: 0 0 8px #888;
	z-index: 49;
	position : fixed;
}

#sidebar-left {
	background-color: #e5e5e5;
	position: fixed;
	top: 100px;
	z-index: 48;
	padding-left: 0;
	padding-right: 0;
}

.breadcrumb {
	padding: 0!important;
	margin-bottom: 0;

	&>li {
	    display: inline;
	    float: none;
	    text-overflow: ellipsis;
	    overflow: hidden;

		& > a { 
			color: #555!important;
		}

	}

	&.nav > li > a {
		display: inline-block!important;
	}
}

.sidebar {
	// position: fixed;
	height: 100%;
	float: left;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: inline-block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	// background-color: #222;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	ul {
		// margin-top: 50px;
	}

	&.sample-show-hide {
	}

	&.sample-show-hide {
	  -webkit-transition:all linear 0.25s;
	  transition:all linear 0.25s;
	}

	&.sample-show-hide.ng-hide {
	  margin-left:0;
	}
}

.submenu {
	border-right: 1px solid #ddd;
}

.menu, .submenu {
	font-size: 18px;
    & > li > a { 
		color: #777;
		&.active {
			color: @tf-blue;
			& .badge {
				background-color: @tf-blue;
			}
		} 
		// & > span.badge {
		// 	position: absolute;
		// 	top: 10px;
		// 	margin-left: -10px;
		// }
	}
}

/** Page de login **/
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: #efefef;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}
/** Fin page de login **/

/** Account popup **/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	margin-top: 20px;

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-wrapper .navbar {
		padding-left: 15px;
		padding-right: 15px;
	}

}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;

    &:before, &:after {
	    display: table;
	    content: "";
	    line-height: 0;
    }

}

.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

/** Fin account popup **/

.form-horizontal .has-feedback select ~ .form-control-feedback {
	right: 23px!important;
}

.center { text-align: center; }
.bold {	font-weight: bold;}

/* padding */
.pd-20 { padding: 20px!important; }
.pdlr-20 { padding: 0 20px!important; }
.pdl-20 { padding-left: 20px!important; }
.pdr-20 { padding-right: 20px!important; }
.pdb-20 { padding-bottom: 20px!important; }
.pdt-20 { padding-top: 20px!important; }
.pdbt-8 { padding: 8px 0!important; }
/* margins */
.mg-10 { margin: 10px; }
.mgr-5 { margin-right: 5px!important; }
.mgl-10 { margin-left: 10px!important; }
.mgr-10 { margin-right: 10px!important; }
.mgt-10 { margin-top: 10px!important; }
.mgt-100 { margin-top: 100px!important; }
.mgb-10 { margin-bottom: 10px!important; }
.mgb-20 { margin-bottom: 20px!important; }

.nopadding { padding: 0!important; }
.nomargin {	margin: 0!important;}
.fixed { position: fixed; }

input.rating {
	font-size: 20px;
}

.glyphicon-star::before { color: #ffc100; }

div.categorie {
	margin-top: 20px;
	position:relative;
	box-sizing:border-box;

	img {
		width:100%;
		height:100%;
		background-color: #f5f5f5;
		margin-bottom:20px;
	}

	p {
		text-align: center;
	}
}

#writer-toolbox, #writer-toolbox ul {background-color: #bbb;}
#writer-toolbox a { color: #fff;}
#writer-toolbox .navbar-nav > li > a {padding:5px 10px!important;}

/** EVENTS **/
.cal-month-day:hover .event-add {
	display: inline-block;
}

.event-add { 
	display: none;
	background-color: #ccc;
	color: #fff;
	border-radius: 3px;
	padding: 5px;
	position:absolute;
	top:5px;
	left: 5px;
	font-weight:bold;
	text-align: center;
	width:auto!important;

	:hover {
		background-color: #aaa;
		cursor: pointer;		
	}
}

/** SIDEBAR **/
.psidebar { 
	padding: 20px;

	section {
		padding: 10px 0;
	}
}

/** CONTRAT **/
#contrat {

	background: white!important;

	table, tr, th, td {
		border-color: black!important;
	}

	table {
		margin: 10px 0;

		td {
			padding: 5px 10px;
		}
	}
}

body[role="print"] {

	background-color: white!important;

}

#dashboard-state {
position: relative;
width: 160px;
margin: 0 auto;
}
#dashboard-state {
margin: 0 0 0 12px;
float: right;
}

#holder {
	margin: 0;
	padding: 0;
	height: 160px;
	width: 160px;
	 -webkit-border-radius: 80px; 
	-moz-border-radius: 80px;
	 border-radius: 80px; 
	overflow: hidden;
	background: #eaeef3;
}

.dashboard-score {
	margin: 0;
	padding: 0;
	height: 152px;
	width: 152px;
	line-height: 152px;
	-webkit-border-radius: 76px;
	-moz-border-radius: 76px;
	border-radius: 76px;
	position: absolute;
	top: 4px;
	left: 4px;
	font-size: 56px;
	font-weight: 300;
	text-align: center;
	background: #fff;
	color: #444;
}

/******************************************/
/****************** NEWS ******************/
/******************************************/
.article {
	.pdb-20;
	.infos {
		font-style: italic;
	}
}



.h3 {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}


.glyphicon {

	&.btn-back {
		cursor: pointer;
		top: 3px;
	}	

}

.navbar {
	border-radius: 0!important;
	border-bottom: 1px solid #ddd;
	background: #eee;
}

.ajax-result { position: absolute; top: 0; left: 0; height: 100%; width: 100%; opacity: 0.85; z-index: 1000; }
.ajax-result span { position: absolute; top: 50%; left: 50%; margin-top: -36px; margin-left: -36px; color: white; font-size: 72px; }

.section-home {
	padding-top: 50px;
	min-height: 500px;
}